# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
data/platform.db
data/platform.db-journal

# Environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
